{% extends 'base.html.twig' %}

{% block title %}Article Batiments{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .body {}
</style>
<body class="body">
    <div class="example-wrapper">
        <br><br>
        <h2>Le saviez-vous (Bâtiments écologique) ?</h2><br><br>
        <p>
            La rétention d’eau pluviale est l'un des principaux avantages des toits végétalisés en ville. En effet, lors des fortes pluies,
            les eaux qui descendent rapidement des toits favorisent les inondations. De plus, les écoulements d'eau en ville peuvent transporter
            des polluants comme des résidus de pétrole, qui, ensuite, se déversent dans la nature. Les toits végétalisés retiennent les eaux pluviales
            et les libèrent plus lentement. Ce qui limite la pollution et a un donc un bon impacte sur la nature en ville.<br><br>

            Ensuite, les toits végétalisés, en climat chaud, permettent de limiter l'usage de la climatisation grâce à la végétation qui intercepte les
            radiations solaires : le flux de chaleur à travers le toit est réduit, notamment grâce à l'évapotranspiration. À l'inverse, en hiver, les toits
            végétalisés limitent la perte de chaleur.
            Bien que les toits végétalisés soient plus chers au départ que des toits plus conventionnels, à long terme, ils peuvent s'avérer intéressants économiquement
            grâce aux économies d'énergie réalisées et à la meilleure longévité du toit.<br><br>

            Enfin, on peut voir que les toits végétalisés on leur fort avantage malgré un coût supérieur à sa création, on peut voir que cela est très bénéfique que ce
            soit pour la nature ou au tour du bâtiment, ou bien pour les personnes qui y vivent. Et comme on a pu le constater un peu plus haut ce type de toit est bénéfique
            pour la consommation d’énergie, et cela apporte une belle touche de verdure au sein des villes.<br><br>

            Donc lors de votre prochaine construction pensé au toit végétalisé pour le bien de tous ;)

        <p><br>
    </div>
</body>
{% endblock %}
