{% extends 'base.html.twig' %}

{% block title %}Article Batiments{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .body {}
</style>
<body class="body">
    <div class="example-wrapper">
        <br><br>
        <h2 class="title-color">Le saviez-vous ? Les bâtiments écologiques</h2><br><br>
        <p>
            La rétention d’eau pluviale est l'un des principaux avantages des toits végétalisés en ville. En effet, lors des fortes pluies,
            les eaux qui descendent rapidement des toits favorisent les inondations. De plus, les écoulements d'eau en ville peuvent transporter
            des polluants comme des résidus de pétrole, qui, ensuite, se déversent dans la nature. Les toits végétalisés retiennent les eaux pluviales
            et les libèrent plus lentement. Ce qui limite la pollution et a un donc un bon impact sur la nature en ville.<br><br>

            Aussi, les toits végétalisés, lorsque les températures augmentent, permettent de limiter l'usage de la climatisation grâce à la végétation qui intercepte les
            radiations solaires : le flux de chaleur à travers le toit est réduit, notamment grâce à l'évapotranspiration. À l'inverse, en hiver, les toits
            végétalisés limitent la perte de chaleur.
            Bien que les toits végétalisés soient plus coûteux que des toits plus conventionnels à la construction, à long terme, ils peuvent s'avérer intéressants économiquement
            grâce aux économies d'énergie réalisées et à la meilleure longévité du toit.<br><br>

            Enfin, bien qu'il soint plus cher, le toit végétal est grandement bénéfique pour la nature et pour les personnes qui vivent sous ce toit
            notamment par rapport à leurs dépenses énergétiques, et cela apporte une touche de verdure au sein des villes qui n'est pas négligeable pour la santé mentale de ses habitants.<br><br>

            Donc lors de votre prochaine construction, pensez au toit végétalisé pour le bien de tous ! ;)

        <p><br>
    </div>
</body>
{% endblock %}
