{% extends 'base.html.twig' %}

{% block title %}Article Biodiversite{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

</style>
<body class="body">
    <div class="example-wrapper">
        <br><br>
        <h2>Le saviez-vous (Biodiversité) ?</h2><br><br>
        <p>
            Toutes les formes de pollution dans le monde viennent des déchets industriels. Le recyclage de ces déchets industriels, tels que les plastiques,
            les canettes et les produits chimiques, contribue considérablement à réduire les niveaux de pollution, car ces déchets sont réutilisés au lieu d’être
            simplement jetés de manière imprudente.<br><br>

            Le grand avantage du recyclage des déchets est qu’ils jouent un grand rôle dans la protection environnementale de la manière la plus équilibrée qui soit.
            Bien que de nombreux arbres soient abattus chaque jour, le papier recyclé fabriqué à partir d’arbres spécifiques est continuellement utilisé pour réduire
            la déforestation. Cet exemple classique démontre que d’autres ressources naturelles peuvent être recyclées et rendues utiles pour préserver l’environnement.<br><br>

            Le processus de recyclage implique une combustion minimale et les déchets sont transformés en matériaux réutilisables avec un impact nul ou minimal sur l’environnement.
            L’ensemble du processus de traitement et de fabrication des produits à partir de déchets produit peu de gaz à effet de serre, car les industries de recyclage de déchets brûlent
            peu de combustibles fossiles.<br><br>

            Donc pour continuer à protéger notre planète et préserver sa biodiversité, il est fortement conseillé de continuer à se tourner vers le recyclage de tous nos déchets qui peuvent l’être.
            Et de mettre en place dans notre ville de demain des moyens faciles et accessibles à tous pour permettre le recyclage de nos déchets, comme par exemple des poubelles connectées, qui permet
            de compacter les déchets pour réduire l’utilisation de sac poubelle plastique.<br><br>

            Pour plus d’explications : https://www.science-et-vie.com/questions-reponses/une-poubelle-intelligente-qu-est-ce-que-c-est-56517<br><br>

            Pensez à bien trier vos déchets pour continuer à préserver notre planète ;)<br><br>

        <p><br>
    </div>
</body>

{% endblock %}
