{% extends 'base.html.twig' %}

{% block title %}Article Bruit {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <br><br>
    <h2>Le saviez-vous (Bruit au sein de la ville) ?</h2><br><br>
    <p>
        Aujourd’hui la nuisance sonore liée au trafic urbain, Touche plus de 7 Millions de personnes en France, soit 12% de la population.<br><br>
        L’utilisation de transport en commun permettrait de réduire considérablement les gênes occasionnées, grâce au transport électrique que ce soit
        les trams ou les bus électriques, qui ne génère pas de bruit de moteur. Car plus de la moitié des déplacement de moins de 3 km se font en voiture.<br><br>

        Si l’on venait à supprimer tous ces petits déplacements de voiture, par des transports éco responsables, que ce soit par la marche à pied, le vélo
        ou les transports en commun.Cela réduirait considérablement les nuisances sonores, pour les personnes qui vivent à proximité, et améliorerait leur
        bien-être . Des projets de végétalisation sont mis en place dans les grandes villes, pour permettre la réduction de bruit, notamment de grandes buttes
        sont mise en place, comme à Paris place de la Nation, qui permet de créer un endroit végétaliser en plein coeur de paris et une nuisance sonore réduite.<br><br>

        De plus on réduirait une grande partie de la pollution liée aux émission de gaz à effet de serre que produisent les véhicules en masse, pour rendre nos villes plus
        propres et plus responsable tout en réduisant la pollution sonore qui est générée chaque jour, pour le bien-être de chacun.<br><br>

        Maintenant réfléchissez bien avant de choisir votre mode de transport ;)
    <p><br>
</div>
{% endblock %}
